.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md

CGREC_2019_fuels.csv

index.Rmd
mdpi.bst
mdpi.Rmd
body.Rmd
index.Rmd
-bookdownplus.Rproj
_bookdown.yml

_book/
images/
style/
tex/
backup/
bib/
_bookdown_files/

Definitions/
MDPI/
data management/
mapping/
Fire spread/
